/* CSS Document */

* { margin: 0; padding: 0; }

body {
	width: 100%;
	height: 100%;
	background: #B2E0F0;
	color: #000000;
	text-align: center;
	font-family: georgia, garamond, serif;
	font-size: 13px;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	margin-top: 20px;
}

a {
	color: #000000;
	text-decoration: none;
}


ul {
	list-style: none;
}

li {
	float: left;
	width: 150px;
	height: 35px;
	padding: 15px 0px 10px 0;
	text-align: left;
	border-right: 1px solid #000000;
	border-left: 1px solid #000000;
	background: #ADADFF;
}

li.active {
	background: #6699FF;
}

li:hover {
	background: #00CCFF;
}

li a {
	display: block;
	padding: 5px 20px;
	text-align: left;
	text-decoration: none;
	color: #000;
}

li a:active {
	border-right: 0;
}

li a:hover {
	border-right: 0;
}

#empDetails {
	font-size: 15px;
}
#head1{
	color:#BAD1D9;
	line-height:23px;
	font-weight:bold;
	font-size:18px;
}

.clear { clear: both; height: 0px; width: 100%; }

