table {
    border-collapse: collapse;
    font-family: "Lucida Sans Unicode","Lucida Grande",Sans-Serif;
    font-size: 12px;
    margin: 20px;
    text-align: left;
    width: 1200px;
    border-left-color: #000000;
}
table th {
    background: url("./table-images/gradhead.png") repeat-x scroll 0 0 #B9C9FE;
    border-bottom: 1px solid #FFFFFF;
    border-top: 2px solid #D3DDFF;
    color: #003399;
    font-size: 13px;
    font-weight: normal;
    padding: 8px;
}
table td {
    background: url("./table-images/gradback.png") repeat-x scroll 0 0 #E8EDFF;
    border-bottom: 1px solid #666699;
    border-top: 1px solid #FFFFFF;
    color: #000000;
    padding: 8px;    
    text-align: center;
}
table thead tr td {
    background: none repeat scroll 0 0 #E8EDFF;
    color: #000000;
    font-size: 12px;
}
table tbody tr:hover td {
    background: url("./table-images/gradhover.png") repeat-x scroll 0 0 #D0DAFD;
    color: #333399;
}
